Language: Cpp
BasedOnStyle: Google
ColumnLimit: 88
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 8

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeTernaryOperators: true
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true

IndentAccessModifiers: true
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent

InsertBraces: true

IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  Hex: -1

KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false

AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true

PointerAlignment: Right

SpaceBeforeCtorInitializerColon: true
