# Meson
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
build/

# Python
__pycache__/
.ipynb_checkpoints/

# C++
compile_commands.json
.cache

# Tests
.coverage

# Documentation
node_modules/
.docusaurus
.cache-loader
npm-debug.log*
yarn-debug.log*
yarn-error.log*
